<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>SchemeUserState</key>
	<dict>
		<key>Rutgers 2.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>11</integer>
		</dict>
	</dict>
	<key>SuppressBuildableAutocreation</key>
	<dict>
		<key>047D06DA1BE16DB600DFEAA3</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>049A4CDF1B4AFC890006D1FA</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>C262EFA7188345D10035C8F5</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
	</dict>
</dict>
</plist>
